[submodule "calib"]
	path = calib
	url = https://github.com/kenscl/SROS.git
	branch = drone/calib
[submodule "code"]
	path = code
	url = https://github.com/kenscl/SROS.git
[submodule "drone/calib"]
	path = drone/calib
	url = https://github.com/kenscl/SROS.git
